---
title: Marionette.js – A scalable and composite application architecture for Backbone.js
description: Backbone.Marionette is a composite application library for Backbone.js that aims to simplify the construction of large scale JavaScript applications.
og_url: http://marionettejs.com
og_description: A scalable and composite application architecture for Backbone.js
og_type: website
og_title: Marionette.js – A scalable and composite application architecture for Backbone.js
schema_org_type: WebPage
---

<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="docs no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="docs no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="docs no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="docs no-js"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title><%= data.page.title || "Marionette.js" %></title>
        <meta content="<%= data.page.description || "" %>" name="description">
        <meta name="viewport" content="width=device-width">
        <%= stylesheet_link_tag "docs" %>
        <!--[if lt IE 9]><script src="js/vendor/selectivizr-1.0.2.min.js"></script><![endif]-->
        <%= javascript_include_tag "header" %>

        <link rel="author" href="humans.txt">
        <link rel="publisher" href="https://plus.google.com/101060306397560578875/">
        <meta name="twitter:card" value="Make your backbone applications dance with a composite application architecture">
        <meta name="twitter:site" value="@marionettejs">
        <meta property="og:site_name" content="Marionette.js – Make your backbone applications dance with a composite application architecture!">
        <meta property="og:image" content="<%= data.global.baseURL %>/images/og-standard.jpg">
        <meta property="og:url" content="<%= data.global.baseURL %><%= data.page.og_url || '/' %>">
        <meta property="og:description" content="<%= data.page.og_description || data.page.description %>">
        <meta property="og:type" content="<%= data.page.og_type || 'article' %>">
        <meta property="og:title" content="<%= data.page.og_title || data.page.title %>">
        <link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
        <link rel="apple-touch-icon" href="apple-touch-icon.png">
        <script src="//cdnjs.cloudflare.com/ajax/libs/underscore.js/1.6.0/underscore-min.js"></script>
        <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
        <script src="//cdnjs.cloudflare.com/ajax/libs/backbone.js/1.1.2/backbone-min.js"></script>
        <script src="/downloads/backbone.marionette.js"></script>
        <%= javascript_include_tag "docs" %>
    </head>
    <body>
        <div class="docs">
          <nav class="docs__sidebar">
            <h3>Marionette Docs</h3>
            <ul>
              <li><a href="marionette.application">Application</a></li>
              <li><a href="marionette.application.module">Application.module</a></li>
              <li><a href="marionette.approuter">AppRouter</a></li>
              <li><a href="marionette.behavior">Behavior</a></li>
              <li><a href="marionette.behaviors">Behaviors</a></li>
              <li><a href="marionette.callbacks">Callbacks</a></li>
              <li><a href="marionette.collectionview">CollectionView</a></li>
              <li><a href="marionette.compositeview">CompositeView</a></li>
              <li><a href="marionette.configuration">Configuration</a></li>
              <li><a href="marionette.controller">Controller</a></li>
              <li><a href="marionette.functions">Functions</a></li>
              <li><a href="marionette.itemview">ItemView</a></li>
              <li><a href="marionette.layout">Layout</a></li>
              <li><a href="marionette.region">Region</a></li>
              <li><a href="marionette.regionmanager">RegionManager</a></li>
              <li><a href="marionette.renderer">Renderer</a></li>
              <li><a href="marionette.templatecache">TemplateCache</a></li>
              <li><a href="marionette.view">View</a></li>
            </ul>
          </nav>
          <div class="docs__content">
            <%= yield %>
          </div>
        </div>
    </body>
</html>
