<!DOCTYPE html>
<!--[if lt IE 7]>      <html lang="en" class="no-js lt-ie9 lt-ie8 lt-ie7" prefix="og: http://ogp.me/ns#" itemscope itemtype="http://schema.org/<%= data.page.schema_org_type || "Article" %>"> <![endif]-->
<!--[if IE 7]>         <html lang="en" class="no-js lt-ie9 lt-ie8" prefix="og: http://ogp.me/ns#" itemscope itemtype="http://schema.org/<%= data.page.schema_org_type || "Article" %>"> <![endif]-->
<!--[if IE 8]>         <html lang="en" class="no-js lt-ie9" prefix="og: http://ogp.me/ns#" itemscope itemtype="http://schema.org/<%= data.page.schema_org_type || "Article" %>"> <![endif]-->
<!--[if gt IE 8]><!--> <html lang="en" class="no-js" prefix="og: http://ogp.me/ns#" itemscope itemtype="http://schema.org/<%= data.page.schema_org_type || "Article" %>"> <!--<![endif]-->
<head>
  <meta charset="utf-8">
  <title><%= data.page.title || "Marionette.js" %></title>

  <meta content="<%= data.page.description || "" %>" name="description">
  <meta content="false" name="HandheldFriendly">
  <meta name="viewport" content="width=device-width">
  <meta name="apple-mobile-web-app-title" content="Marionette">

  <%= stylesheet_link_tag "marionette" %>
  <%= javascript_include_tag "header" %>

  <link rel="author" href="humans.txt">
  <link rel="publisher" href="https://plus.google.com/101060306397560578875/">

  <meta name="twitter:card" value="summary">
  <meta name="twitter:site" value="@marionettejs">
  <meta property="og:site_name" content="Marionette.js – Make your backbone applications dance with a composite application architecture!">
  <meta property="og:image" content="<%= data.global.baseURL %>/images/og-standard.jpg">
  <meta property="og:url" content="<%= data.global.baseURL %><%= data.page.og_url || '/' %>">
  <meta property="og:description" content="<%= data.page.og_description || data.page.description %>">
  <meta property="og:type" content="<%= data.page.og_type || 'article' %>">
  <meta property="og:title" content="<%= data.page.og_title || data.page.title %>">

  <link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
  <link rel="apple-touch-icon" href="apple-touch-icon.png">
</head>
<body class="<%= page_classes %>">

  <%= partial 'header' %>
  <%= yield %>
  <%= partial 'footer' %>

  <script src='//ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js'></script>

  <script>
    window.jQuery || document.write('<%= javascript_include_tag("libs/jquery.min").gsub("</", "<\\/") %>')
  </script>

  <%= javascript_include_tag "footer" %>

  <script>
    // Flattr
    (function() {
      var s = document.createElement('script'), t = document.getElementsByTagName('script')[0];
      s.type = 'text/javascript';
      s.async = true;
      s.src = 'http://api.flattr.com/js/0.6/load.js?mode=auto';
      t.parentNode.insertBefore(s, t);
    })();

    // Google Analytics
    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-34606707-1']);
    _gaq.push(['_setDomainName', 'marionettejs.com']);
    _gaq.push(['_setAllowLinker', true]);
    _gaq.push(['_trackPageview']);

    (function() {
      var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
      ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })();
  </script>
</body>
