<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title><%= data.page.title || "Marionette.js" %></title>
        <meta content="<%= data.page.description || "" %>" name="description">
        <meta name="viewport" content="width=device-width">
        <%= stylesheet_link_tag "marionette" %>
        <script type="text/javascript" src="//use.typekit.net/ycm5ipv.js"></script>
        <script type="text/javascript">try{Typekit.load();}catch(e){}</script>
        <!--[if lt IE 9]><script src="js/vendor/selectivizr-1.0.2.min.js"></script><![endif]-->
        <%= javascript_include_tag "header" %>
        <link rel="author" href="humans.txt">
        <link rel="publisher" href="https://plus.google.com/101060306397560578875/">
        <meta name="twitter:card" value="Make your backbone applications dance with a composite application architecture">
        <meta name="twitter:site" value="@marionettejs">
        <meta property="og:site_name" content="Marionette.js – Make your backbone applications dance with a composite application architecture!">
        <meta property="og:image" content="<%= data.global.baseURL %>/images/og-standard.jpg">
        <meta property="og:url" content="<%= data.global.baseURL %><%= data.page.og_url || '/' %>">
        <meta property="og:description" content="<%= data.page.og_description || data.page.description %>">
        <meta property="og:type" content="<%= data.page.og_type || 'article' %>">
        <meta property="og:title" content="<%= data.page.og_title || data.page.title %>">
        <link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
        <link rel="apple-touch-icon" href="apple-touch-icon.png">
    </head>
    <body>
        <!--[if lt IE 9]>
            <div class="browsehappy">
                <p>
                    You are using an <strong>outdated</strong> browser. Please <a href="//browsehappy.com" target="_blank">upgrade your browser</a> or <a href="//www.google.com/chromeframe/?redirect=true" target="_blank">activate Google Chrome Frame</a> to improve your experience.
                </p>
                <p>Clicking anywhere inside this frame will temporarily hide it.</p>
            </div>
        <![endif]-->


        <div class="masthead">
            <%= image_tag 'marionette_logo.png', alt: 'Marionette.js – A scalable and composite application architecture for Backbone.js', class: 'primary-logo' %>
            <a href="#download" class="btn download-button">Download <span>v1.2.0</span></a>
            <a href="https://github.com/marionettejs/backbone.marionette", class="on-github">Marionette.js on GitHub</a>
        </div>

        <div class="ribbon">
            <div>
                <h1 class="headline">Make your Backbone applications <span>dance!</span></h1>
            </div>
        </div>

        <section class="about column-contain">
            <article>
                <header>
                    <h2>About Marionette</h2>
                </header>
                <p>
                    Backbone.Marionette is a composite application library for Backbone.js that aims to simplify the construction of large scale JavaScript applications.
                </p>
                <p>
                    It is a collection of common design and implementation patterns found in the applications that we have been building with Backbone, and includes pieces inspired by composite application architectures, event-driven architectures, messaging architectures, and more.
                </p>
            </article>
            <div class="quick-links">
                <nav>
                    <h3>Quick Links</h3>
                    <ul>
                        <li>
                            <a href="https://github.com/marionettejs/backbone.marionette", target="_blank">Marionette.js on GitHub</a>
                        </li>
                        <li>
                            <a href="http://marionettejs.com/docs/backbone.marionette.html", target="_blank">Annotated Source Code</a>
                        </li>
                    </ul>
                </nav>
                <nav>
                    <h3>Requirements</h3>
                    <ul>
                        <li><a href="http://jquery.com/", target="_blank">jQuery</a> <span>v1.8+</span></li>
                        <li><a href="http://underscorejs.org/", target="_blank">Underscore</a> <span>v1.4.4+</span></li>
                        <li>
                            <a href="http://backbonejs.org/", target="_blank">Backbone</a> <span>v1.1.x</span>
                            <p class="note">
                                is preferred. v1.0.0, v0.9.9 and v0.9.10 should work still
                            </p>
                        </li>
                        <li><a href="https://github.com/marionettejs/backbone.wreqr", target="_blank">Backbone.Wreqr</a></li>
                        <li><a href="https://github.com/marionettejs/backbone.babysitter", target="_blank">Backbone.BabySitter</a></li>
                    </ul>
                </nav>
            </div>
          <div class="cl"></div>
        </section>
        <%= render :erb, "sections/_code_section" %>
        <div class="cl"></div>
        <section class="featured_videos column-contain">
            <h2>Featured Videos</h2>
            <div class="slider2"></div>
            <div class="video_slideshow" data-cycle-slides=".video_slide">
                <div class="video_slide">
                    <figure class="vid">
                        <iframe width="1280" height="720" src="//www.youtube-nocookie.com/embed/0o2whtCJw8I?rel=0" frameborder="0" allowfullscreen></iframe>
                        <p>
                            Check out the slide deck and other info from Amy's blog post about the presentation.
                        </p>
                    </figure>
                    <figcaption>
                        <p>
                            Amy Palamountain gave a presentation on how to "Unsuck Your Backbone" at Codemania in New Zealand, in April of 2013. This is one of the best presentations I've seen, on a high level structure for your Backbone applications. Amy's experience in building scalable apps with composite application patterns in Windows shines through as she describes the patterns and practices that are baked in to Marionette.
                        </p>
                    </figcaption>
                </div>
                <div class="video_slide">
                    <figure class="vid">
                        <iframe width="1280" height="720" src="//www.youtube-nocookie.com/embed/0o2whtCJw8I?rel=0" frameborder="0" allowfullscreen></iframe>
                        <p>
                            Check out the slide deck and other info from Amy's blog post about the presentation.
                        </p>
                    </figure>
                    <figcaption>
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Corporis, debitis, est? Adipisci, cupiditate, eveniet, sequi illo deserunt laboriosam laudantium eos numquam vero delectus velit eius obcaecati voluptatibus autem optio consectetur?
                        </p>
                    </figcaption>
                </div>
            </div>
            <div class="cl"></div>
        </section>
        <div class="cl"></div>
        <section class="support column-contain">
          <div class="social-network-col">
            <ul>
              <li>
                <i class="icon-twitter"></i>
                <a href="https://twitter.com/marionettejs", target="_blank">@marionettejs on Twitter</a>
              </li>
              <li>
                <i class="icon-google-plus"></i>
                <a href="https://plus.google.com/101060306397560578875", target="_blank">Marionette.js on Google+</a>
              </li>
              <li>
                <i class="icon-github"></i>
                <a href="https://github.com/marionettejs/backbone.marionette", target="_blank">Marionette.js on GitHub</a>
              </li>
            </ul>
          </div>
          <article class="support_article">
              <h2>Support Marionette.js</h2>
              <p>
                  Marionette needs your support, but not everyone can offer assistance with code, bug submissions, and answering questions. If you're using Marionette and you're finding that it is saving you as much time and effort as we believe it does, then please consider financial support for the project.
              </p>
              <div class="donate">
                  <a href="https://www.paypal.com/cgi-bin/webscr?cmd=_s-xclick&hosted_button_id=7SJHYWJ487SF4" class="btn btn-donate", target="_blank">Donate</a>
                  <p class="sans">
                      Your PayPal contributions are much appreciated, thank you!
                  </p>
              </div>
          </article>
          <div class="cl"></div>
        </section>

        <section class="stickers column-contain">
          <div class="sticker-pics">
              <%= image_tag 'stickers1.jpg', alt: '' %>
              <%= image_tag 'stickers2.jpg', alt: '' %>
              <%= image_tag 'stickers3.jpg', alt: '' %>
          </div>
          <div class="sticker-order">
            <header>
                <h5>Stickers!</h5>
            </header>
            <p>
                These awesome stickers are printed by StickerMule, and are the highest quality vinyl stickers, coming in at 2.27x3 inches. The perfect size for any space on your laptop lid.
            </p>
            <a href="#" class="tiny-link">Order Yours Now! <i class="icon-arrow-right"></i></a>
          </div>
          <div class="cl"></div>
        </section>

        <footer>
          <p>website handcrafted &amp; coded by</p>
          <a href="http://mojotech.com", target="_blank"><%= image_tag 'mojotech.png', alt: 'MojoTech', class: 'mt-logo' %></a>
        </footer>


        <!--[if lt IE 9]>
            <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
            <script>window.jQuery || document.write('<%= javascript_include_tag("libs/jquery-1.10.2.min.js").gsub("</", "<\\/") %>')</script>
        <![endif]-->
        <!--[if gt IE 8]><!-->
            <script src="//ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
            <script>window.jQuery || document.write('<%= javascript_include_tag("libs/jquery-2.0.3.min.js").gsub("</", "<\\/") %>')</script>
        <!--<![endif]-->
        <%= javascript_include_tag "footer" %>
        <script>
            // Flattr
            (function() {
                var s = document.createElement('script'), t = document.getElementsByTagName('script')[0];
                s.type = 'text/javascript';
                s.async = true;
                s.src = 'http://api.flattr.com/js/0.6/load.js?mode=auto';
                t.parentNode.insertBefore(s, t);
            })();

            // Google Analytics
            var _gaq = _gaq || [];
            _gaq.push(['_setAccount', 'UA-34606707-1']);
            _gaq.push(['_setDomainName', 'marionettejs.com']);
            _gaq.push(['_setAllowLinker', true]);
            _gaq.push(['_trackPageview']);
            (function() {
                var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
                ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
                var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
            })();
        </script>
    </body>
</html>
