<div class="hd">
    <h3 id="marionette-docs">Marionette Docs</h3>
    {select_box}
    <input id="search" type="search" placeholder="search" class="form-control" />
</div>
<div class="bd">
    <div class="toc">
        {{#modules}}
            <h3 class="toc-mod-title"><a href="{{file}}">{{module}}</a></h3>
            <div class="toc-list">
                {{#toc}}
                <a class="toc-item" href="{{../file}}#{{href}}">
                    <h4>{{title}}</h4>
                </a>
                {{/toc}}
            </div>
        {{/modules}}
    </div>
</div>
