---
title: Marionette.js – A scalable and composite application architecture for Backbone.js
description: Backbone.Marionette is a composite application library for Backbone.js that aims to simplify the construction of large scale JavaScript applications.
og_image:
og_url:
og_description:
og_type: website
og_title: Marionette.js – A scalable and composite application architecture for Backbone.js
schema_org_type: WebPage
---

<section class="two-column-section gw">
  <div>
    <div class="g one-half">
      <div class="two-column-section__column">
        <h1>About</h1>
        <p>Backbone.Marionette is a composite application library for Backbone.js that aims to simplify the construction of large scale JavaScript applications.</p>
        <p>It is a collection of common design and implementation patterns found in the applications that I (Derick Bailey) have been building with Backbone, and includes various pieces inspired by composite application architectures, such as Microsoft's "Prism" framework.</p>

        <h1>Getting Started</h1>
        <p>If this is your first time trying out Marionette, we suggest you start by reading Addy Osmani’s Backbone Fundamentals book, which includes a chapter on <a href="http://addyosmani.github.com/backbone-fundamentals/#backbone.marionette">getting started with Marionette</a>.</p>
        <p>If you'd like to play with Marionette without having to download any JavaScript files, or set up a web server / page / editing environment on your system, there is a <a href="http://jsfiddle.net/derickbailey/M5J8Q/">jsFiddle</a> available for getting started with Marionette:</p>
        <p>Once you're ready and want to download and use Marionette, the easiest thing to do is grab a pre-packaged build from the Downloads section. These archives contain all of the .js files that you need to get started with Marionette.</p>
      </div>
    </div>
    <div class="g one-half">
      <div class="two-column-section__column--highlight">
        <div class="two-column-section__column">
          <h1>Key Benefits</h1>
          <p>
            <ul>
              <li>Scale applications out with modular, event driven architecture</li>
              <li>Sensible defaults, such as using Underscore templates for view rendering</li>
              <li>Easy to modify to make it work with your applicaton's specific needs</li>
              <li>Reduce boilerplate for views, with specialized view types</li>
              <li>Build on a modular architecture with an Application and modules that attach to it</li>
              <li>Compose your application's visuals at runtime, with Region and Layout</li>
              <li>Nested views and layouts within visual regions</li>
              <li>Built-in memory management and zombie killing in views, regions and layouts</li>
              <li>Built-in event clean up with the EventBinder</li>
              <li>Event-driven architecture with the EventAggregator</li>
              <li>Flexible, "as-needed" architecture allowing you to pick and choose what you need</li>
              <li>And much, much more</li>
            </ul>
          </p>
        </div>
      </div>
    </div>
  </div>
</section>

<section id="builds" class="three-column-section gw">
  <div>
    <div class="g one-whole">
      <div class="three-column-section__column">
        <h1>Downloadable Builds</h1>
        <small>
          <%= data.global.version %> <span class="middot">&middot;</span> <%= link_to 'See Changelog', 'https://github.com/marionettejs/backbone.marionette/blob/master/changelog.md' %>
        </small>
      </div>
    </div>
    <div class="g one-third">
      <div class="three-column-section__column">
        <h2>Pre-packaged</h2>
        <p>These archives contain all of the files you need to get started with Marionette, including Backbone, jQuery and all other prerequisites.</p>
        <p>These packages include the standard and AMD versions of both the non-minified and minified versions of Marionette.</p>

        <h3>*nix (.tar.gz)</h3>
        <%= link_to 'backbone.marionette.tar.gz', 'backbone.marionette.tar.gz' %>

        <h3>Windows (.zip)</h3>
        <%= link_to 'backbone.marionette.zip', 'backbone.marionette.zip' %>
      </div>
    </div>
    <div class="g one-third">
      <div class="three-column-section__column">
        <h2>Bundled</h2>
        <p>Download the bundled backbone.marionette.js file with the Backbone.EventBinder and Backbone.Wreqr prerequisites built in.</p>

        <h3>Standard .js</h3>
        <a href="https://raw.github.com/marionettejs/backbone.marionette/master/lib/backbone.marionette.js">backbone.marionette.js</a>
        <a href="https://raw.github.com/marionettejs/backbone.marionette/master/lib/backbone.marionette.min.js">backbone.marionette.min.js</a>

        <h3>RequireJS (AMD) Compatible</h3>
        <a href="https://raw.github.com/marionettejs/backbone.marionette/master/lib/amd/backbone.marionette.js">backbone.marionette.js</a>
        <a href="https://raw.github.com/marionettejs/backbone.marionette/master/lib/amd/backbone.marionette.min.js">backbone.marionette.min.js</a>
      </div>
    </div>
    <div class="g one-third">
      <div class="three-column-section__column">
        <h2>Core</h2>
        <p>Download the core backbone.marionette.js file, without Backbone.EventBinder or Backbone.Wreqr.</p>
        <p>These pre-requisites are still required for Marionette to run, but this allows you to download them separately and update them independently.</p>

        <h3>Standard .js</h3>
        <a href="https://raw.github.com/marionettejs/backbone.marionette/master/lib/core/backbone.marionette.js">backbone.marionette.js</a>
        <a href="https://raw.github.com/marionettejs/backbone.marionette/master/lib/core/backbone.marionette.min.js">backbone.marionette.min.js</a>

        <h3>RequireJS (AMD) Compatible</h3>
        <a href="https://raw.github.com/marionettejs/backbone.marionette/master/lib/core/amd/backbone.marionette.js">backbone.marionette.js</a>
        <a href="https://raw.github.com/marionettejs/backbone.marionette/master/lib/core/amd/backbone.marionette.min.js">backbone.marionette.min.js</a>
      </div>
    </div>
  </div>
</section>

<section class="gw">
  <div>
    <div class="g two-thirds">

    </div>
    <div class="g one-third">
    </div>
  </div>
</section>

<section class="one-column-section gw">
  <div>
    <div class="g one-whole">
      <div class="one-column-section__column">
        <h1>Companies using Marionette.js</h1>
        <ul>
          <li><a href="http://ravenhq.com/"><%= image_tag 'logos/ravenhq.png', alt: 'Raven HQ' %></a></li>
          <li><a href="http://advanseez.com/"><%= image_tag 'logos/advanseez.png', alt: 'Advanseez' %></a></li>
          <li><a href="http://airbrake.io/"><%= image_tag 'logos/airbrake.png', alt: 'Airbrake' %></a></li>
          <li><a href="http://crowdtwist.com/"><%= image_tag 'logos/crowdtwist.png', alt: 'Crowdtwist' %></a></li>
          <li><a href="http://inspectall.com/"><%= image_tag 'logos/inspectall.png', alt: 'Inspectall' %></a></li>
          <li><a href="http://stipple.com/"><%= image_tag 'logos/stipple.png', alt: 'Stipple' %></a></li>
          <li><a href="http://rbmaradio.com/"><%= image_tag 'logos/rbma.png', alt: 'Red Bull Music Academy Radio' %></a></li>
          <li><a href="http://learnvest.com/"><%= image_tag 'logos/learnvest.png', alt: 'Learnvest' %></a></li>
          <li><a href="http://onehealth.com/"><%= image_tag 'logos/onehealth.png', alt: 'OneHealth' %></a></li>
          <li><a href="http://roastlog.com/"><%= image_tag 'logos/roastlog.png', alt: 'Roastlog' %></a></li>
          <li><a href="http://stubhub.com/"><%= image_tag 'logos/stubhub.png', alt: 'StubHub' %></a></li>
          <li><a href="http://tiptap.com/"><%= image_tag 'logos/tiptap.png', alt: 'TipTap' %></a></li>
        </ul>
      </div>
    </div>
  </div>
</section>
