---
title: Marionette.js – A scalable and composite application architecture for Backbone.js
description: Backbone.Marionette is a composite application library for Backbone.js that aims to simplify the construction of large scale JavaScript applications.
og_url:
og_description:
og_type: website
og_title: Marionette.js – A scalable and composite application architecture for Backbone.js
schema_org_type: WebPage
---

<section class="two-column-section gw">
  <div>
    <div class="g one-half">
      <div class="two-column-section__column">
        <h1>About</h1>
        <p>
        Backbone.Marionette is a composite application library for 
        Backbone.js that aims to simplify the construction of large 
        scale JavaScript applications.
        </p>

        <p>
        It is a collection of common design and implementation 
        patterns found in the applications that we have been building 
        with Backbone, and includes pieces inspired by 
        composite application architectures, event-driven architectures,
        messaging architectures, and more.
        </p>

        <h1>Getting Started</h1>
        <p>If this is your first time trying out Marionette, we suggest you start by reading Addy Osmani’s Backbone Fundamentals book, which includes a chapter on <a href="http://addyosmani.github.io/backbone-fundamentals/#marionettejs-backbone.marionette">getting started with Marionette</a>.</p>
        <p>If you'd like to play with Marionette without having to download any JavaScript files, or set up a web server / page / editing environment on your system, there is a <a href="http://jsfiddle.net/derickbailey/M5J8Q/">jsFiddle</a> available for getting started with Marionette:</p>
        <p>Once you're ready and want to download and use Marionette, the easiest thing to do is grab a pre-packaged build from the Downloads section. These archives contain all of the .js files that you need to get started with Marionette.</p>
      </div>
    </div>
    <div class="g one-half">
      <div class="two-column-section__column--highlight">
        <div class="two-column-section__column">
          <h1>Key Benefits</h1>
          <p>
            <ul>
              <li>Scale applications out with modular, event driven architecture</li>
              <li>Sensible defaults, such as using Underscore templates for view rendering</li>
              <li>Easy to modify to make it work with your application's specific needs</li>
              <li>Reduce boilerplate for views, with specialized view types</li>
              <li>Build on a modular architecture with an Application and modules that attach to it</li>
              <li>Compose your application's visuals at runtime, with Region and Layout</li>
              <li>Nested views and layouts within visual regions</li>
              <li>Built-in memory management and zombie killing in views, regions and layouts</li>
              <li>Built-in event clean up with the EventBinder</li>
              <li>Event-driven architecture with the EventAggregator</li>
              <li>Flexible, "as-needed" architecture allowing you to pick and choose what you need</li>
              <li>And much, much more</li>
            </ul>
          </p>
        </div>
      </div>
    </div>
  </div>
</section>

<section id="download" class="three-column-section gw">
  <a name="#download"></a>
  <div>
    <div class="g one-whole">
      <div class="three-column-section__column">
        <h1>Downloads and Documentation</h1>
        <small>
          <%= data.global.version %> 
          <span class="middot">&middot;</span> 
          <%= link_to 'See Upgrade Guide', 'https://github.com/marionettejs/backbone.marionette/blob/master/upgradeGuide.md' %>
          <span class="middot">&middot;</span>
          <%= link_to 'See Changelog', 'https://github.com/marionettejs/backbone.marionette/blob/master/changelog.md' %>
        </small>
      </div>
    </div>
    <div class="g one-third">
      <div class="three-column-section__column">
        <h2>Pre-packaged</h2>
        <p>These archives contain all of the files you need to get started with Marionette, including Backbone, jQuery and all other prerequisites.</p>
        <p>These packages include the standard and AMD versions of both the non-minified and minified versions of Marionette.</p>

        <h3>*nix (.tar.gz)</h3>
        <p>
          <%= link_to 'backbone.marionette.tar.gz', 'downloads/backbone.marionette.tar.gz' %>
        </p>

        <h3>Windows (.zip)</h3>
        <p>
          <%= link_to 'backbone.marionette.zip', 'downloads/backbone.marionette.zip' %>
        </p>
      </div>
    </div>
    <div class="g one-third">
      <div class="three-column-section__column">
        <h2>Bundled</h2>
        <p>Download the bundled backbone.marionette.js file with the Backbone.Wreqr and Backbone.BabySitter prerequisites built in.</p>

        <div class="gw">
          <ul class="g one-third">
            <li><%= link_to 'backbone.marionette.js', 'downloads/backbone.marionette.js' %></li>
            <li><%= link_to 'backbone.marionette.min.js', 'downloads/backbone.marionette.min.js' %></li>
          </ul>
        </div>

      </div>
    </div>
    <div class="g one-third">
      <div class="three-column-section__column">
        <h2>Core</h2>
        <p>Download the core backbone.marionette.js file, without Backbone.BabySitter or Backbone.Wreqr.</p>
        <p>These pre-requisites are still required for Marionette to run, but this allows you to download them separately and update them independently.</p>

        <h3>Standard .js</h3>
        <div class="gw">
          <ul class="g one-third">
            <li><%= link_to 'backbone.marionette.js', 'downloads/core/backbone.marionette.js' %></li>
            <li><%= link_to 'backbone.marionette.min.js', 'downloads/core/backbone.marionette.min.js' %></li>
          </ul>
        </div>

        <h3>AMD / RequireJS</h3>
        <div class="gw">
          <ul class="g one-third">
            <li><%= link_to 'backbone.marionette.js', 'downloads/core/amd/backbone.marionette.js' %></li>
            <li><%= link_to 'backbone.marionette.min.js', 'downloads/core/amd/backbone.marionette.min.js' %></li>
          </ul>
        </div>

      </div>
    </div>
    <div class="gw">
      <div class="g one-whole">
        <div class="g one-third">
          <div class="three-column-section__column">
            <h2>Documentation</h2>
            <p>For documentation, wiki, issues list and related projects, please <%= link_to 'head over to GitHub', 'https://github.com/marionettejs/backbone.marionette' %>.</p>
          </div>
        </div>
        <div class="g two-thirds">
          <div class="three-column-section__column">
            <h2>Prerequisites</h2>
            <p>Marionette relies on Underscore, Backbone, jQuery, and various other libraries as its foundation.</p>
            <div class="gw">
              <ul class="g one-third">
                <li><%= link_to 'JSON2.js', 'https://github.com/douglascrockford/JSON-js' %></li>
                <li><%= link_to 'jQuery (v1.7, v1.8, v1.9)', 'http://jquery.com/' %></li>
                <li><%= link_to 'Underscore.js (v1.4.4)', 'http://underscorejs.org/' %></li>
                <li><%= link_to 'Backbone.js (v1.0.0)', 'http://backbonejs.org/' %></li>
              </ul>
              <ul class="g one-third">
                <li><%= link_to 'backbone.wreqr.js', 'https://github.com/marionettejs/backbone.wreqr' %></li>
                <li><%= link_to 'backbone.babysitter.js', 'https://github.com/marionettejs/backbone.babysitter' %></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="two-column-section gw">
  <div>
    <div class="g one-half">
      <div class="two-column-section__column">
        <h1>Featured Video</h1>
        <p>
        Amy Palamountain gave a presentation on how to "Unsuck Your Backbone"
        at Codemania in New Zealand, in April of 2013. This is one of the
        best presentations I've seen, on a high level structure for your
        Backbone applications. Amy's experience in building scalable apps
        with composite application patterns in Windows shines through as
        she describes the patterns and practices that are baked in to Marionette.
        </p>
        <iframe width="500" height="280" src="//www.youtube-nocookie.com/embed/0o2whtCJw8I" frameborder="0" allowfullscreen></iframe>
        <p>
        Check out the slide deck and other info from <a href="http://amy.palamounta.in/2013/04/12/unsuck-your-backbone/">Amy's blog post about the presentation</a>.
        <p>
      </div>
    </div>
    <div class="g one-half">
      <div class="two-column-section__column">
        <h1>Featured Video</h1>
        <p>
        Other videos, screencasts and recorded presentations that
        cover introductions to, and use of MarionetteJS.
        </p>
        <ul>
          <li><p><a href="http://www.youtube.com/watch?v=VERQEr-bVTs">Derick Bailey's jQuery->Backbone->Marionette talk</a> at the Houston Open Dev group. He moves from a jQuery application to a Backbone based structure, and introduces various parts of Marionette along the way.</p></li>
          <li><p><a href="http://www.backbonerails.com/">BackboneRails.com</a> (free / paid): Brian Mann's screencast series on building scalable applications with Marionette and Rails.  Lots of animations and advanced material covered while exploring Marionette's components in detail.</p></li>
          <li><p>Tuts+ <a href="https://tutsplus.com/lesson/backbone-marionette/">Advanced Backbone Patterns</a> (free / paid): a 10 minute intro to Marionette</li>
          <li><p><a href="http://youtu.be/HDZqmGwROG0">Marionette Pieces and Intro from Atlanta Javascript Meetup</a> (free) Pamela Fox talks Backbone, and Brian Mann introduces Marionette in this double-header JavaScript user group meetup.</p></li>
          <li><p><a href="http://tekpub.com/products/backbone">Tekpub's "Playing With Backbone"</a> (paid / free) Tekpub walks through a complete Backbone application, from the ground up.</p></li>
          <li><p><a href="http://amy.palamounta.in/2013/04/12/unsuck-your-backbone/">Unsuck your backbone</a> (free) Amy Palamountain talks on thinking beyond MVC & building scalable JavaScript applications with Marionette.</p></li>
        </ul>
      </div>
    </div>
  </div>

  <div class="gw">
    <div class="g one-half">
      <div class="two-column-section__column">
        <h1>Books About Marionette!</h1>
        <iframe width="160" height="400" src="https://leanpub.com/building-backbone-plugins/embed" frameborder="0" allowtransparency="true"></iframe>
        <iframe width="160" height="400" src="https://leanpub.com/marionette-gentle-introduction/embed" frameborder="0" allowtransparency="true"></iframe>
        <iframe width="160" height="400" src="https://leanpub.com/structuring-backbone-with-requirejs-and-marionette/embed" frameborder="0" allowtransparency="true"></iframe>
      </div>
    </div>
  </div>
</section>

<section class="three-column-section gw">
  <div>
    <div class="g one-half">
      <div class="two-column-section__column">
        <h1>STICKERS!!!</h1>
        <p>
        <a href="http://www.devswag.com/products/marionette-stickers-4"><img src="/images/marionette-sticker-detail.jpg" height="200" width="200"></a>
        <a href="http://www.devswag.com/products/marionette-stickers-4"><img src="/images/marionette-sticker-full.jpg" height="200" width="200"></a>
        </p>
        <p>
        <a href="http://www.devswag.com/products/marionette-stickers-4"><img src="/images/John-Laptop.jpg" width="405"></a>
        </p>
      </div>
    </div>
    <div class="g one-half">
      <div class="two-column-section__column">
        <h1>Get Yours From DevSwag</h1>
        <p>
        We've teamed up with the fine folks over at 
        <a href="http://devswag.com/products/marionette-stickers-4">DevSwag</a> 
        to offer you an easy way to order your own stickers!
        </p>
        <p>
        But while Marionette talks about making your projects dance, we make no 
        such guarantees about these stickers. :D We do think they're 
        fun to look at and they make an amazing laptop decoration. 
        Show your love of puppeteering and composite application architecture!
        </p>
        <p>
        These awesome stickers are printed by <a href="http://www.stickermule.com/unlock?ref_id=4886059601">StickerMule</a>, and are the
        highest quality vinyl stickers, coming in at 2.27x3 inches. The
        perfect size for any space on your laptop lid.
        </p>
        <p>
        <a href="http://www.devswag.com/products/marionette-stickers-4"><h3><strong>ORDER NOW!</strong></h3></a>
        </p>
      </div>
    </div>
  </div>
</section>

<section class="two-column-section gw">
  <div>
    <div class="g one-whole">
      <div class="one-column-section__column">
        <h1>Companies using Marionette.js</h1>
        <ul class="company-logo-list">
          <li><a href="http://advanseez.com/"><%= image_tag 'logos/advanseez.png', alt: 'Advanseez' %></a></li>
          <li><a href="http://airbrake.io/"><%= image_tag 'logos/airbrake.png', alt: 'Airbrake' %></a></li>
          <li><a href="http://crashlytics.com/"><%= image_tag 'logos/crashlytics.png', {alt: 'Crashlytics', width: "150"} %></a></li>
          <li><a href="http://crowdtwist.com/"><%= image_tag 'logos/crowdtwist.png', alt: 'Crowdtwist' %></a></li>
          <li><a href="http://cynergy.com/"><%= image_tag 'logos/cynergy.png', alt: 'cynergy' %></a></li>
          <li><a href="http://inspectall.com/"><%= image_tag 'logos/inspectall.png', alt: 'Inspectall' %></a></li>
          <li><a href="http://learnvest.com/"><%= image_tag 'logos/learnvest.png', alt: 'Learnvest' %></a></li>
          <li><a href="https://www.myedu.com/"><%= image_tag 'logos/myedu.png', alt: 'myEdu' %></a></li>
          <li><a href="http://onehealth.com/"><%= image_tag 'logos/onehealth.png', alt: 'OneHealth' %></a></li>
          <li><a href="http://raygun.io/"><%= image_tag 'logos/raygun-io.png', alt: 'RayGun' %></a></li>
          <li><a href="http://railslove.com/"><%= image_tag 'logos/railslove.png', alt: 'Railslove' %></a></li>
          <li><a href="http://ravenhq.com/"><%= image_tag 'logos/ravenhq.png', alt: 'Raven HQ' %></a></li>
          <li><a href="http://rbmaradio.com/"><%= image_tag 'logos/rbma.png', {alt: 'Red Bull Music Academy Radio', width: "50"} %></a></li>
          <li><a href="http://roastlog.com/"><%= image_tag 'logos/roastlog.png', alt: 'Roastlog' %></a></li>
          <li><a href="http://stipple.com/"><%= image_tag 'logos/stipple.png', alt: 'Stipple' %></a></li>
          <li><a href="http://stubhub.com/"><%= image_tag 'logos/stubhub.png', alt: 'StubHub' %></a></li>
          <li><a href="http://tiptap.com/"><%= image_tag 'logos/tiptap.png', alt: 'TipTap' %></a></li>
          <li><a href="http://www.zweitag.de/"><%= image_tag 'logos/zweitag.png', alt: 'zweitag', width: "150" %></a></li>
        </ul>
      </div>
    </div>
  </div>
</section>
