= stylesheet_link_tag "meetup"

.contain
  = image_tag 'meetup_logo.png', class: "logo"

  %h1.headline
    Marionette.js Meetup

  %ul.meetup-details
    %li Wednesday, June 11, 7pm
    %li 5 Washington St, Brooklyn, NY (7th floor Etsy Labs)

  .mid-cta
    = render :haml, "signup_wrap"

  %h2.headline.sub Hear from the team

  %ul.team
    %li.person
      .image-wrap.left
        = image_tag 'james_smith.png', class: "person-image"
        %a{href: "http://bocoup.com/", target: "_blank"}
          = image_tag 'bocoup.png', class: "logo-image"
      .details.left
        %h4.name James Smith
        %h5.talk-title Backbone.Wreqr

    %li.person
      .image-wrap.left
        = image_tag 'jason_laster.png', class: "person-image"
        %a{href: "http://etsy.com/", target: "_blank"}
          = image_tag 'etsy.png', class: "logo-image"
      .details.left
        %h4.name Jason Laster - Etsy
        %h5.talk-title Cleaning up your views with behaviors.
    %li.person
      .image-wrap.left
        = image_tag 'sam_saccone.png', class: "person-image"
        %a{href: "http://mojotech.com/", target: "_blank"}
          = image_tag 'mojotech-1.png', class: "logo-image"
      .details.left
        %h4.name Sam Saccone - MojoTech
        %h5.talk-title Rapid prototyping with PARM.

.footer-signup-cta
  = render :haml, "signup_wrap"
